@media (max-width: 1024px)
    .container
        width: calc(100% - 100px)
    .section__poster + .section__poster
        margin-left: 6vw
@media (max-width: 915px)
    .container
        width: calc(100% - 8vw)
    .main
        padding-bottom: 100px
    .nav
        &__wrapper
            min-height: 75px
        &__triangle
            display: none
    .section
        &__poster + .section__poster
            margin-left: 30px
        &__title
            margin-bottom: 45px
@media (max-width: 800px)
    .section
        &__wrapper
            justify-content: space-between
    .main
        padding: 50px 0 70px
@media (max-width: 768px)
    .contacts,
    .dropdown
        display: none
    .header
        &__top-wrapper
            justify-content: center
        &__name
            position: static
            transform: none
    .toggle
        display: block
    .nav
        width: 100vw
        height: 100vh
        position: fixed
        top: 0
        right: -100vw
        background-color: rgba(0, 0, 0, .9)
        z-index: 10
        overflow: hidden
        transition: all .4s ease
        opacity: 0
        &__wrapper
            flex-direction: column
            align-items: center
        .container
            height: 100%
            display: flex
            flex-direction: column
            justify-content: space-between
            align-items: center
            padding: 15px 0 10px
            box-sizing: border-box
        .dropdown
            display: block
            margin-top: 0
            border-color: #fff 
            color: #fff
        .contacts
            display: flex
@media (max-width: 720px)
    .section
        &__wrapper
            flex-direction: column
            align-items: center
        + .section
            margin-top: 65px
        &__poster + .section__poster
            margin-left: 12vw
        &_pay
            margin: 30px 0 0 !important
            align-items: center
        &__pay-line:first-child
            margin-bottom: 20px
        &__pay-info
            margin-bottom: 30px
    .main
        padding-bottom: 70px
    .button
        &__pay
            margin-left: 0
@media (max-width: 600px)
    .text
        &-xl
            font-size: 36px
            line-height: 36px
        &-l
            font-size: 25px
            line-height: 25px
        &-m
            font-size: 18px
            line-height: 18px
    .dropdown
        margin-top: 20px
        padding-left: 40px
        &__selected
            width: 70px
            height: 30px
        &__location
            width: 25px
    .nav .dropdown
        &__selected
            width: 100%
    .button__header
        width: 100px
        height: 40px
        padding-top: 10px
    .section
        &_tickets
            width: 100% !important
        &__hall
            width: 300px
            height: 300px
        &__pay-line
            span
                width: 55px
    .input__name
        width: 40vw
@media (max-width: 480px)
    .main
        padding: 40px 0 50px
    .button__header
        width: 120px
        margin: 6px 20px
    .section__title
        margin-bottom: 35px
@media (max-width: 400px)
    .section
        &__poster
            &::before
                border: none
                height: calc(100% + 10px)
                width: calc(100% + 10px)
            & + .section__poster
                margin-left: 8vw
        
@media (max-width: 375px)
    .button__header
        width: 120px
        margin: 6px 8px
    .section
        + .section
            margin-top: 40px
        &__poster
            width: 35vw
            height: 55vw
        &__hall
            width: 90%
            height: 85vw
        &_pay
            margin-top: 15px !important
@media (max-width: 315px)
    .button__header
        width: 100px
        margin: 5px 5px