.button
    color: #fff
    background-color: $main
    text-align: center
    box-sizing: border-box
    cursor: pointer
    &__header
        width: 120px
        height: 50px
        padding-top: 13px 
    &_selected
        background-color: $main-highlight