.input
    width: 20vw
    height: 30px
    border: 3px solid #fff
    background-color: rgb(220, 220, 220)
    color: #000
    border-radius: 10px
    &:focus
        border: 3px solid #fff
        outline: none